@import "tailwindcss";

/* O teu estilo de scrollbar pode ficar abaixo */
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: #e5e7eb;
	border-radius: 10px;
}

html {
	background-color: #c7c7c7;
}

@theme {
	--color-cf: #f48120;
	--color-tbot: #f00094;
	--color-gray: #312f2f;
	--color-dark-gray: #1f1d1d;
}
